.glass{
    width: 95vw;
    min-height: 88vh;
    /* background: rgba(255,255,255,0.1); */
    background: rgba(0,0,0,0.4);
    padding: 50px 0;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 30px auto 0;
}
