.navbar{
    background: rgba(0,0,0,0.4) !important;
}

.text{
    text-decoration: none !important;
    color: white !important;
    margin: 0 10px;
}
.text:hover{
    color: #00fff2 !important;
}

.logo{
    color: white !important; 
}

.logo:hover{
    color: #ff4d4d !important;
}