.requests{
    flex: 1;
    /* color: #21b8af; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    background-color: rgba(0, 34, 39, 0.8) !important;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(255,255,255, 0.5);
    border: none;
    color: #00fff2;
    border: 1px solid #00fff2;
}
.button:hover{
    box-shadow: 0 3px 25px rgba(255,255,255, 0.5);
    color: #00fff2;
    border: 1px solid #00fff2;
}

.listItem{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    background: rgba(0, 27, 29, 0.7);
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: 1px solid rgb(218, 211, 255);
    box-shadow: 0 3px 5px rgba(255,255,255, 0.3);
}

.listItem:hover{
    box-shadow: 0 3px 35px rgba(255,255,255, 0.5);
    background: rgba(0, 46, 49, 0.7);
    color: #00fff2 !important;
}

@media only screen and (max-width: 1100px) {
    .listItem {
      width: 80vw;
      flex-direction: column;
    }
  }